body{
	background-color: #778cff;
}


h1 {
  text-align: center;
  background-color: #ff5d5d;
  font-size: 60px;
  border-radius: 8px; 
}

h2 {
	text-align: center;
	color: #ffae5d;
	font-size: 40px;
}	

p{
	text-align: center;
	color: white;
	font-size: 30px;
	text-decoration: underline;
}


ul li {
  color: #8f7b7b;
  font-size: 20px;
}

#list {
  list-style-type: disc;
  list-style-position: inside;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 150px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 90%;
}


#list img {
  margin-bottom: 10px; /* Espace entre l'image et la première ligne */
  width: 150px;
  height: 150px;
}

#list li {
  padding: 8px 0;
  font-size: 18px;
  list-style-type: disc;
  text-align: left;
  width: 100%;
}


